<!DOCTYPE html>
<link rel="stylesheet" href="index.css">
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <p class="lead"><img src="https://s15.postimg.cc/8bza8koln/menu.png" width=25% height=25%></p>
      </div>

      <img src="http://static.hdw.eweb4.com/media/wallpapers_dl/1/143/1424815-coffee-art-love.jpg"   style=
              "z-index: -1;position: fixed; left: -110px; top: -25px; width: 120%; height: 120%;"></p>

      <text style="color: white;font-family: Futura, 'Trebuchet MS', Arial, sans-serif;font-size: 27px;">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      {% if not reports %}
      <a href="{{ authorize_url }}" class="btn btn-default">Connect with genome</a>
      {% else %}
      <table class="table" id="table">
        <caption>Genome</caption>
        <thead>
          <tr>
            <th>Name</th>
            <th>Genetic insights</th>
          </tr>
        </thead>
        <tbody>
          {% for report in reports %}
          <tr>
            <th scope="row">{{ report.phenotype.display_name }}</th>
            <td>{{ report.summary.score }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
      </text>
    </div>

    <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyD0liN934uLgdN7LwwHs2tPUl-BG5jgeEU",
      authDomain: "cappugeno-9fd04.firebaseapp.com",
      databaseURL: "https://cappugeno-9fd04.firebaseio.com",
      projectId: "cappugeno-9fd04",
      storageBucket: "cappugeno-9fd04.appspot.com",
      messagingSenderId: "584906693698"
    };
    firebase.initializeApp(config);

    var table = document.getElementsByTagName('table')[0];
    var cMR = table.rows[1];
    var eDS = table.rows[2];
    var cC = table.rows[3];

    //sets values
    var refValue = firebase.database().ref().child('caffeineMetaboliteRatio');
    refValue.set(cMR.textContent);

    var refValue2 = firebase.database().ref().child('excessiveDaytimeSleepiness');
    refValue2.set(eDS.textContent);

    var refValue3 = firebase.database().ref().child('caffeineConsumption');
    refValue3.set(cC.textContent);
  </script>
  </body>
</html>
